@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #333333;
    --background-start-rgb: #333333;
    --background-end-rgb: #333333;
  }
}
 */
body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
@media (max-width: 1024px) {
  html{
    font-size: 84.5%;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 69.5%;
  }
}